.span9 {
    width: 700px;
}
.demo-browser {
    background: #2C3E50 url("../images/demo/browser.png") no-repeat scroll 0px 0px / 659px 42px;
    border-radius: 0px 0px 6px 6px;
    color: #FFF;
    margin: 0px 41px 140px 0px;
    padding-top: 42px;
}
.demo-browser-side {
    float: left;
    padding: 22px 20px;
    width: 111px;
}
.demo-browser {
    color: #FFF;
}
.demo-browser-author {
    background: transparent url("/static/pic/1.jpeg") no-repeat scroll center center;
    border: 3px solid #FFF;
    display: block;
    height: 84px;
    margin: 0px auto;
    width: 84px;
    border-radius: 50%;
}
.demo-browser-action {
    padding: 30px 0px 12px;
}
.demo-browser-content {
    background-color: #34495E;
    border-radius: 0px 0px 6px;
    overflow: hidden;
    padding: 21px 0px 0px 20px;
}
.tou {
    margin-top: 70px;
}
body {
    background: deepskyblue;
}
.hed {
/*width:100px;*/
/*height:30px;*/
/*background:red;*/
position:relative;
animation:myfirst 5s;
-webkit-animation:myfirst 5s; /* Safari and Chrome */
}

@keyframes myfirst
{
/*0%   {background:red; left:0px; top:0px;}*/
/*25%  {background:yellow; left:200px; top:0px;}*/
/*50%  {background:blue; left:200px; top:200px;}*/
/*75%  {background:green; left:0px; top:200px;}*/
/*100% {background:red; left:0px; top:0px;}*/
0%   {left:700px; top:0px;}
25%  {left:600px; top:0px;}
50%  {left:400px; top:0px;}
75%  {left:200px; top:0px;}
100% {left:0px; top:0px;}
}
.tail {
/*width:100px;*/
/*height:30px;*/
/*background:red;*/
position:relative;
animation:mysecond 5s;
-webkit-animation:mysecond 5s; /* Safari and Chrome */
}
@keyframes mysecond
{
/*0%   {background:red; left:0px; top:0px;}*/
/*25%  {background:yellow; left:200px; top:0px;}*/
/*50%  {background:blue; left:200px; top:200px;}*/
/*75%  {background:green; left:0px; top:200px;}*/
/*100% {background:red; left:0px; top:0px;}*/
0%   {right:700px; top:0px;}
25%  {right:600px; top:0px;}
50%  {right:400px; top:0px;}
75%  {right:200px; top:0px;}
100% {right:0px; top:0px;}
}
h3
{
text-shadow: 5px 5px 5px #FF0000;
}
